<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <span (click)="loadPersons()">Show people</span>
    </ng-template>

    <table class="w3-table-all" *ngIf="hidePeople===false">
      <thead class="w3-light-grey">
        <th>Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let person of people | async">
          <td>{{person.name}}</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span (click)="loadTodos()">Show todos</span>
    </ng-template>

    <table class="w3-table-all" *ngIf="hideTodos===false">
      <thead class="w3-light-grey">
        <th>Description</th>
        <th>Person</th>
        <th>Done</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of todos | async">
          <td>{{item.description}}</td>
          <td>{{item.assignedTo}}</td>
          <td><mat-checkbox (change)="setDone(item.id,item.done)">&nbsp;</mat-checkbox></td>
        </tr>
      </tbody>
    </table>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <span>Currently selected: {{headline}}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>