<mat-tab-group (selectedTabChange)="load($event)">

  <mat-tab>
    <ng-template mat-tab-label>
      <span>Show people</span>
    </ng-template>

    <table class="w3-table-all" *ngIf="hidePeople===false">
      <thead class="w3-light-grey">
        <th>Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let person of people">
          <td>{{person.name}}</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span>Show todos</span>
    </ng-template>

    <div class="w3-row w3-margin">
      <mat-checkbox [checked]="showOnlyUndone" (change)="showOnlyUndone=!showOnlyUndone;setUndoneFilter()" class="w3-half">
        Show undone todos
      </mat-checkbox>
      <div class="w3-half">
        <mat-checkbox (change)="showNameInput=!showNameInput; loadTodos();" class="w3-display-top">
          Show todos per person
        </mat-checkbox>
        <form class="w3-form" class="w3-display-bottom" *ngIf="showNameInput===true">
          <mat-form-field>
            <mat-select (selectionChange)="setNameFilter()" [(value)]="showOnlyPerson" placeholder="Choose person">
              <mat-option value="Nobody">Nobody</mat-option>
              <mat-option *ngFor="let person of people" [value]="person.name">
                {{person.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="w3-container w3-margin">
        <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-dark-grey">Add todo item</button>
      
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            
            <div class="w3-center"><br>
              <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            </div>
      
            <form class="w3-container">
              <div class="w3-section">
                <label><b>Description</b></label>
                <input name="descInput" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the description of the todo item" [(ngModel)]="newDescription" required>
                
                <mat-form-field>
                  <mat-select [(value)]="selectedPerson" placeholder="Choose person">
                    <mat-option value="Nobody">Nobody</mat-option>
                    <mat-option *ngFor="let person of people" [value]="person.name">
                      {{person.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <button onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-block w3-dark-grey w3-section w3-padding" (click)="addTodo()">Send</button>
              </div>
            </form>
      
          </div>
        </div>
      </div>

    <form class="w3-container">
      <table class="w3-table-all" *ngIf="hideTodos===false">
        <thead class="w3-light-grey">
          <th>Description</th>
          <th>Person</th>
          <th>Done</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <!-- Double click to edit -->
          <tr *ngFor="let item of todos">
            <td><input class="w3-input" type="text" (blur)="update=false;updateTodoDescription(item.id)" (dblclick)="update=true;" [value]="item.description" [readOnly]="!update"/></td>
            <td>{{item.assignedTo}}</td>
            <td><mat-checkbox [checked]="item.done" (change)="setDone(item.id,item.done)">&nbsp;</mat-checkbox></td>
            <td><button class="w3-button w3-border" (click)="deleteTodo(item.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </mat-tab>

  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <span>Currently selected: {{headline}}</span>
    </ng-template>
  </mat-tab>
  
</mat-tab-group>